---
apiVersion: v1
kind: Service
metadata:
  name: promtail
  namespace: promtail
spec:
  selector:
    app: promtail
  ports:
    - name: http-metrics
      port: 9080
      targetPort: http-metrics
  type: ClusterIP
