---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elastiflow-config
  namespace: elastiflow
data:
  # ElastiFlow Flow Collector configuration
  EF_LICENSE_ACCEPTED: "true"
  
  # Flow inputs
  EF_FLOW_SERVER_UDP_IP: "0.0.0.0"
  EF_FLOW_SERVER_UDP_PORT: "2055"
  EF_FLOW_SERVER_UDP_READ_BUFFER_MAX_SIZE: "33554432"
  
  # Elasticsearch output
  EF_OUTPUT_ELASTICSEARCH_ENABLE: "true"
  EF_OUTPUT_ELASTICSEARCH_ADDRESSES: "elasticsearch.elasticsearch.svc.cluster.local:9200"
  EF_OUTPUT_ELASTICSEARCH_ECS_ENABLE: "true"
  EF_OUTPUT_ELASTICSEARCH_INDEX_PERIOD: "rollover"
  EF_OUTPUT_ELASTICSEARCH_INDEX_TEMPLATE_SHARDS: "1"
  EF_OUTPUT_ELASTICSEARCH_INDEX_TEMPLATE_REPLICAS: "0"
  
  # GeoIP Enrichment
  EF_PROCESSOR_ENRICH_IPADDR_MAXMIND_GEOIP_ENABLE: "true"
  EF_PROCESSOR_ENRICH_IPADDR_MAXMIND_GEOIP_PATH: "/etc/elastiflow/maxmind/GeoLite2-City.mmdb"
  EF_PROCESSOR_ENRICH_IPADDR_MAXMIND_ASN_ENABLE: "true"
  EF_PROCESSOR_ENRICH_IPADDR_MAXMIND_ASN_PATH: "/etc/elastiflow/maxmind/GeoLite2-ASN.mmdb"
  
  # Other Enrichment
  EF_PROCESSOR_ENRICH_IPADDR_NETINTEL_ENABLE: "false"
  EF_PROCESSOR_ENRICH_IPADDR_METADATA_ENABLE: "false"
  EF_PROCESSOR_ENRICH_IPADDR_DNS_ENABLE: "true"
  EF_PROCESSOR_ENRICH_IPADDR_DNS_NAMESERVER_IP: "10.0.0.201"
  EF_PROCESSOR_ENRICH_IPADDR_DNS_NAMESERVER_TIMEOUT: "3000"
  
  # Decode settings
  EF_PROCESSOR_DECODE_IPFIX_ENABLE: "true"
  EF_PROCESSOR_DECODE_NETFLOW9_ENABLE: "true"
  EF_PROCESSOR_DECODE_NETFLOW5_ENABLE: "true"
  EF_PROCESSOR_DECODE_SFLOW5_ENABLE: "true"
  
  # Logging
  EF_LOGGER_LEVEL: "info"
