---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: profilarr-config
  namespace: profilarr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: profilarr
  namespace: profilarr
  labels:
    app: profilarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: profilarr
  template:
    metadata:
      labels:
        app: profilarr
    spec:
      containers:
        - name: profilarr
          image: santiagosayshey/profilarr:v1.1.4
          ports:
            - containerPort: 6868
              name: http
              protocol: TCP
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/London"
            - name: UMASK
              value: "022"
            - name: PORT
              value: "6868"
            - name: HOST
              value: "0.0.0.0"
            - name: APP_BASE_PATH
              value: "/config"
            - name: AUTH
              value: "on"
          volumeMounts:
            - name: config
              mountPath: /config
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: profilarr-config
