---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: headscale
data:
  config.yaml: |
    ---
    server_url: https://headscale-funnel.taila62ed.ts.net
    listen_addr: 0.0.0.0:8080
    metrics_listen_addr: 0.0.0.0:9090
    grpc_listen_addr: 0.0.0.0:50443
    grpc_allow_insecure: true

    noise:
      private_key_path: /var/lib/headscale/noise_private.key

    prefixes:
      v4: 100.64.0.0/10
      v6: fd7a:115c:a1e0::/48
      allocation: sequential

    derp:
      server:
        enabled: false
      urls:
        - https://controlplane.tailscale.com/derpmap/default
      auto_update_enabled: true
      update_frequency: 24h

    disable_check_updates: false
    ephemeral_node_inactivity_timeout: 30m

    database:
      type: sqlite
      sqlite:
        path: /var/lib/headscale/db.sqlite

    log:
      format: text
      level: info

    dns:
      magic_dns: true
      base_domain: tailnet.lab.jackhumes.com
      nameservers:
        global:
          - 1.1.1.1
          - 8.8.8.8

    oidc:
      only_start_if_oidc_is_available: true
      issuer: https://auth.jackhumes.com
      client_id: headscale
      client_secret_path: /etc/headscale/secrets/client_secret
      scope:
        - openid
        - profile
        - email
        - groups
      pkce:
        enabled: true
        method: S256
