---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
  namespace: authelia
data:
  configuration.yml: |
    ---
    theme: dark
    
    server:
      host: 0.0.0.0
      port: 9091
    
    log:
      level: info
      format: text
    
    totp:
      disable: true
      issuer: authelia.com
    
    webauthn:
      disable: true
    
    authentication_backend:
      ldap:
        address: ldap://lldap.lldap.svc.cluster.local:3890
        implementation: custom
        timeout: 5s
        start_tls: false
        base_dn: dc=lab,dc=jackhumes,dc=com
        additional_users_dn: ou=people
        users_filter: "(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))"
        additional_groups_dn: ou=groups
        groups_filter: "(member={dn})"
        group_search_mode: filter
        attributes:
          username: uid
          display_name: cn
          mail: mail
          member_of: memberOf
          group_name: cn
        user: uid=admin,ou=people,dc=lab,dc=jackhumes,dc=com
        password: changeme
    
    access_control:
      default_policy: deny
      rules:
        - domain:
            - "pihole.lab.jackhumes.com"
            - "lldap.lab.jackhumes.com"
          policy: one_factor
    
    session:
      name: authelia_session
      domain: lab.jackhumes.com
      expiration: 1h
      inactivity: 15m
      remember_me: 1M
    
    regulation:
      max_retries: 3
      find_time: 2m
      ban_time: 5m
    
    storage:
      local:
        path: /data/db.sqlite3
    
    notifier:
      disable_startup_check: true
      filesystem:
        filename: /data/notification.txt
