---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
  namespace: authelia
data:
  configuration.yml: |
    ---
    theme: dark
    
    server:
      host: 0.0.0.0
      port: 9091
    
    log:
      level: debug
      format: text
      keep_stdout: true
    
    totp:
      disable: true
      issuer: authelia.com
    
    webauthn:
      disable: true
    
    authentication_backend:
      ldap:
        address: ldap://lldap.lldap.svc.cluster.local:3890
        implementation: custom
        timeout: 5s
        start_tls: false
        base_dn: dc=lab,dc=jackhumes,dc=com
        additional_users_dn: ou=people
        users_filter: "(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))"
        additional_groups_dn: ou=groups
        groups_filter: "(member={dn})"
        group_search_mode: filter
        attributes:
          username: uid
          display_name: cn
          mail: mail
          member_of: memberOf
          group_name: cn
        user: uid=authelia-service,ou=people,dc=lab,dc=jackhumes,dc=com
        # Password loaded from secret file - see deployment env AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE
    
    access_control:
      default_policy: deny
      rules:
        - domain:
            - "pihole.lab.jackhumes.com"
            - "lldap.lab.jackhumes.com"
            - "prometheus.lab.jackhumes.com"
          policy: one_factor
    
    session:
      name: authelia_session
      domain: jackhumes.com
      expiration: 1h
      inactivity: 15m
      remember_me: 1M
    
    regulation:
      max_retries: 3
      find_time: 2m
      ban_time: 5m
    
    storage:
      local:
        path: /data/db.sqlite3
    
    notifier:
      disable_startup_check: true
      filesystem:
        filename: /data/notification.txt
    
    identity_providers:
      oidc:
        # hmac_secret loaded from secret file - see deployment env AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE
        # issuer_private_key loaded from secret file - see deployment env AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY_FILE
        claims_policies:
          headscale:
            id_token:
              - email
              - groups
          grafana:
            id_token:
              - email
              - groups
              - preferred_username
              - name
        access_token_lifespan: 1h
        authorize_code_lifespan: 5m
        id_token_lifespan: 1h
        refresh_token_lifespan: 90m
        enable_client_debug_messages: false
        enforce_pkce: public_clients_only
        cors:
          endpoints:
            - userinfo
            - authorization
            - token
            - revocation
            - introspection
          allowed_origins_from_client_redirect_uris: true
        clients:
          - client_id: 'argocd'
            client_name: 'Argo CD'
            client_secret: '$pbkdf2-sha512$310000$baPJvDhRlw873xb4RBxjOw$O6Jkym38TgbtDZxdgH5JYGjpHudnuQJYL.oYKxMYc0CKtIndhhvjqL0H67ReSnRGV5LDzOjGZ9pKHFF6xsDlEg'
            public: false
            authorization_policy: 'one_factor'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://argocd.lab.jackhumes.com/auth/callback'
            scopes:
              - 'openid'
              - 'groups'
              - 'email'
              - 'profile'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_post'
          - client_id: 'argocd-cli'
            client_name: 'Argo CD (CLI)'
            public: true
            authorization_policy: 'one_factor'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'http://localhost:8085/auth/callback'
            scopes:
              - 'openid'
              - 'offline_access'
              - 'groups'
              - 'email'
              - 'profile'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
              - 'refresh_token'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'none'
          - client_id: 'headscale'
            client_name: 'Headscale'
            client_secret: '$pbkdf2-sha512$310000$rgCAKvrnAEiQtSuHNbC3jg$.r5phwMBX1d.AiswdDsvn5oYYgNL0AgPtyBaBdQ4xvLY92epC5NU4Zs6He5BD4ZCKL.dmv56Gn7lQ6o0lfHyLA'
            claims_policy: 'headscale'
            public: false
            authorization_policy: 'one_factor'
            consent_mode: 'implicit'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://headscale.lab.jackhumes.com/oidc/callback'
              - 'https://headscale.jackhumes.com/oidc/callback'
            scopes:
              - 'openid'
              - 'email'
              - 'profile'
              - 'groups'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'
          - client_id: 'grafana'
            client_name: 'Grafana'
            client_secret: '$pbkdf2-sha512$310000$GMJ3.6E2Cw8RXpFFpaUsyg$QVzgfckr8LmygfGsu09XM8D68Ggra0yl0hNpTg7B/OtEdZ8O9bd1CNA507.2lIsXS47pB.juGxB425P.blHz2Q'
            claims_policy: 'grafana'
            public: false
            authorization_policy: 'one_factor'
            require_pkce: true
            pkce_challenge_method: 'S256'
            consent_mode: 'implicit'
            redirect_uris:
              - 'https://grafana.lab.jackhumes.com/login/generic_oauth'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
              - 'email'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_basic'
          - client_id: 'qui'
            client_name: 'qui'
            client_secret: '$pbkdf2-sha512$310000$NBHsdT8oxkbn2EgQmYKiwg$0usy6TOoUKv4GasDhGXAE8vVdm5DTISarrJbRsYGjun1q7mOIasIUUly7KbrvrS5FHQRcJzuZngJHlgmEThQ2w'
            public: false
            authorization_policy: 'one_factor'
            require_pkce: false
            pkce_challenge_method: ''
            redirect_uris:
              - 'https://qui.lab.jackhumes.com/api/auth/oidc/callback'
            scopes:
              - 'openid'
              - 'profile'
              - 'email'
              - 'groups'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_post'
          - client_id: 'jellyfin'
            client_name: 'Jellyfin'
            client_secret: '$pbkdf2-sha512$310000$auALPurSFOVvsVVtUk6Ysg$M3fwvWUpu5fCc3obxEzdOnlOA9oBjhddCP.jq5gFg36NnNUIwmT2lV8/9QmZyF.g8dQi.QkjyArRXSFPLkgftQ'
            public: false
            authorization_policy: 'one_factor'
            require_pkce: true
            pkce_challenge_method: 'S256'
            redirect_uris:
              - 'https://jellyfin.lab.jackhumes.com/sso/OID/redirect/authelia'
            scopes:
              - 'openid'
              - 'profile'
              - 'groups'
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_post'
