---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fail2ban-config
  namespace: authelia
data:
  jail.local: |
    [DEFAULT]
    bantime = 3600
    findtime = 600
    maxretry = 3
    backend = polling
    usedns = no
    banaction = iptables-allports
    action = %(action_)s

    [authelia]
    enabled = true
    backend = polling
    port = http,https
    filter = authelia
    logpath = /var/log/authelia/authelia.log
    maxretry = 3
    findtime = 300
    bantime = 3600

  filter.d-authelia.conf: |
    [Definition]
    failregex = ^.*level=error.*remote_ip="?<HOST>"?.*msg="Unsuccessful.*authentication attempt.*$
                ^.*Unsuccessful.*authentication attempt.*remote_ip="?<HOST>"?.*$
                ^.*authentication.*failed.*remote_ip="?<HOST>"?.*$
    ignoreregex =

  fail2ban.local: |
    [Definition]
    loglevel = INFO
    logtarget = STDOUT
    socket = /var/run/fail2ban/fail2ban.sock
    pidfile = /var/run/fail2ban/fail2ban.pid
    dbfile = /var/lib/fail2ban/fail2ban.sqlite3
    dbpurgeage = 86400
