---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tailscale-serve-config
  namespace: tailscale
data:
  serve-config.json: |
    {
      "TCP": {
        "443": {
          "HTTPS": true
        }
      },
      "Web": {
        "headscale-funnel.taila62ed.ts.net:443": {
          "Handlers": {
            "/": {
              "Proxy": "http://headscale.headscale.svc.cluster.local:8080"
            }
          }
        }
      },
      "AllowFunnel": {
        "headscale-funnel.taila62ed.ts.net:443": true
      }
    }
