---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: qbittorrent
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`qbittorrent.lab.jackhumes.com`)
      kind: Rule
      services:
        - name: qbittorrent
          port: 8080
  tls:
    secretName: qbittorrent-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: qbittorrent-http
  namespace: qbittorrent
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`qbittorrent.lab.jackhumes.com`)
      kind: Rule
      middlewares:
        - name: redirect-https
      services:
        - name: qbittorrent
          port: 8080
