---
apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  namespace: qbittorrent
  labels:
    app: qbittorrent
spec:
  selector:
    app: qbittorrent
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: qbittorrent-gluetun
  namespace: qbittorrent
  labels:
    app: qbittorrent
spec:
  selector:
    app: qbittorrent
  ports:
    - name: control
      port: 8000
      targetPort: 8000
      protocol: TCP
    - name: http-proxy
      port: 8888
      targetPort: 8888
      protocol: TCP
  type: ClusterIP
