---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goflow2-vector-config
  namespace: goflow2
data:
  vector.yaml: |
    sources:
      goflow2_file:
        type: file
        include:
          - /data/flows.json
        read_from: beginning
        line_delimiter: "\n"

    sinks:
      clickhouse:
        type: clickhouse
        inputs:
          - goflow2_file
        endpoint: http://clickhouse.clickhouse.svc.cluster.local:8123
        database: netflow
        table: flows
        auth:
          strategy: basic
          user: default
          password: "${CLICKHOUSE_PASSWORD}"
        compression: gzip
        batch:
          max_bytes: 10485760
          timeout_secs: 5
        buffer:
          type: memory
          max_events: 10000
