---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goflow2-vector-config
  namespace: goflow2
data:
  vector.yaml: |
    sources:
      goflow2_file:
        type: file
        include:
          - /data/flows.json
        read_from: beginning
        line_delimiter: "\n"

    transforms:
      parse_json:
        type: remap
        inputs:
          - goflow2_file
        source: |
          # Parse JSON line
          . = parse_json!(.message)
          
          # Convert nanosecond timestamps to Unix epoch seconds
          # time_received as integer seconds for DateTime
          .time_received = to_int!(.time_received_ns) / 1000000000
          # Other timestamps as float seconds for DateTime64(9)
          .time_flow_start = to_float!(.time_flow_start_ns) / 1000000000.0
          .time_flow_end = to_float!(.time_flow_end_ns) / 1000000000.0
          
          # Parse IPv4 addresses (convert string to proper IPv4 format)
          .sampler_address = .sampler_address
          .src_addr = .src_addr
          .dst_addr = .dst_addr
          .next_hop = .next_hop
          
          # Ensure numeric fields are correct types
          .src_port = to_int!(.src_port)
          .dst_port = to_int!(.dst_port)
          .proto = .proto
          .bytes = to_int!(.bytes)
          .packets = to_int!(.packets)
          .tcp_flags = to_int!(.tcp_flags)
          .ip_tos = to_int!(.ip_tos)
          .in_if = to_int!(.in_if)
          .out_if = to_int!(.out_if)
          .vlan_id = to_int!(.vlan_id)
          .src_as = to_int!(.src_as)
          .dst_as = to_int!(.dst_as)
          .forwarding_status = to_int!(.forwarding_status)
          
          # Keep string fields as-is
          .src_mac = .src_mac
          .dst_mac = .dst_mac
          .etype = .etype

    sinks:
      clickhouse:
        type: clickhouse
        inputs:
          - parse_json
        endpoint: http://clickhouse.clickhouse.svc.cluster.local:8123
        database: netflow
        table: flows
        auth:
          strategy: basic
          user: default
          password: "${CLICKHOUSE_PASSWORD}"
        compression: gzip
        batch:
          max_bytes: 10485760
          timeout_secs: 5
        buffer:
          type: memory
          max_events: 10000
        skip_unknown_fields: true
