pages:
  - name: Home

    columns:
      - size: small
        widgets:
          - type: calendar

          - type: weather
            location: London, United Kingdom
            units: metric


      - size: full
        widgets:
          - type: monitor
            cache: 1m
            title: Services
            sites:
              - title: PiHole
                url: https://pihole.lab.jackhumes.com/admin
                icon: si:pihole
                alt-status-codes:
                  - 403
              - title: ArgoCD
                url: https://argocd.lab.jackhumes.com
                icon: si:argo
                alt-status-codes:
                  - 403
              - title: Authelia
                url: https://auth.lab.jackhumes.com
                icon: si:authelia
              - title: LLDAP
                url: https://lldap.lab.jackhumes.com
                icon: si:authelia
                alt-status-codes:
                  - 403
              - title: Glance
                url: https://glance.lab.jackhumes.com
                icon: si:glance
              - title: IP Checker
                url: https://ip-checker.lab.jackhumes.com
                icon: si:speedtest
              - title: Podinfo
                url: https://podinfo.lab.jackhumes.com
                icon: si:kubernetes

          - type: rss
            limit: 15
            collapse-after: 5
            cache: 30m
            feeds:
              - url: https://news.ycombinator.com/rss
                title: Hacker News
                
          - type: videos
            channels:
              - UCUyeluBRhGPCW4rPe_UvBZQ # ThePrimeagen
              - UCXuqSBlHAE6Xw-yeJA0Tunw # Linus Tech Tips  
              - UCrUL8K81R4VBzm-KOYwrcxQ # Dreams of Code
              - UCsBjURrPoezykLs9EqgamOA # Fireship
            collapse-after: 3


          - type: group
            widgets:
              - type: reddit
                subreddit: unixporn
                show-thumbnails: true
                limit: 10
                collapse-after: 5
              - type: reddit
                subreddit: technology
                limit: 10
                collapse-after: 5
              - type: reddit
                subreddit: science
                limit: 10
                collapse-after: 5

      - size: small
        widgets:
          - type: clock
            hour-format: 24h
            timezones:
              - timezone: Europe/London
                label: London
              - timezone: America/New_York
                label: New York
              - timezone: Asia/Tokyo
                label: Tokyo

theme:
  background-color: 240 15 10
  primary-color: 220 15 85
  contrast-multiplier: 1.2
