---
apiVersion: v1
kind: Service
metadata:
  name: cdn
  namespace: cdn
  labels:
    app: cdn
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: cdn
