---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-alerting-policies
  namespace: grafana
data:
  policies.yaml: |
    apiVersion: 1
    policies:
      - orgId: 1
        receiver: discord
        group_by: ['alertname', 'cluster', 'namespace']
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 4h
        routes:
          - receiver: discord
            matchers:
              - severity =~ "critical|warning"
            continue: false
            group_wait: 10s
            group_interval: 5m
            repeat_interval: 12h
