---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: grafana
data:
  grafana.ini: |
    [log]
    level = debug
    
    [database]
    type = postgres
    host = postgresql.postgresql.svc.cluster.local:5432
    name = grafana
    user = grafana
    password = grafana
    ssl_mode = disable
    
    [server]
    domain = grafana.lab.jackhumes.com
    root_url = https://grafana.lab.jackhumes.com
    
    [auth]
    disable_login_form = false
    disable_signout_menu = false
    oauth_auto_login = false
    
    [auth.generic_oauth]
    enabled = true
    name = Pocket ID
    icon = signin
    client_id = 1f82bc12-5f49-4d1d-a31e-602866895a74
    client_secret = $__file{/etc/secrets/client_secret}
    scopes = openid profile email groups
    empty_scopes = false
    auth_url = https://auth.jackhumes.com/authorize
    token_url = https://auth.jackhumes.com/api/oidc/token
    api_url = https://auth.jackhumes.com/api/oidc/userinfo
    login_attribute_path = preferred_username
    groups_attribute_path = groups
    name_attribute_path = name
    email_attribute_path = email
    use_pkce = true
    allow_sign_up = true
    allow_assign_grafana_admin = true
    skip_org_role_sync = false
    skip_email_verify = true
    role_attribute_path = contains(groups[*], 'admin') && 'GrafanaAdmin' || 'Viewer'
    id_token_attribute_name = sub
    
    [users]
    auto_assign_org = true
    auto_assign_org_id = 1
    auto_assign_org_role = Viewer
    allow_sign_up = false
    
    [security]
    allow_embedding = true
    
    [unified_alerting]
    enabled = true
