---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: grafana
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        uid: prometheus
        access: proxy
        url: http://prometheus.prometheus.svc.cluster.local:9090
        isDefault: true
        editable: true
      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki.loki.svc.cluster.local:3100
        editable: true
      - name: Elasticsearch
        type: elasticsearch
        uid: elasticsearch
        access: proxy
        url: http://elasticsearch.elasticsearch.svc.cluster.local:9200
        editable: true
        jsonData:
          index: "elastiflow-flow-*"
          timeField: "@timestamp"
          esVersion: "8.0.0"
          logMessageField: ""
          logLevelField: ""
