---
apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
        "Stuns": [
            {
                "Proto": "udp",
                "URI": "stun:netbird.lab.jackhumes.com:3478"
            }
        ],
        "Signal": {
            "Proto": "https",
            "URI": "netbird.lab.jackhumes.com:443"
        },
        "Datadir": "/var/lib/netbird",
        "DataStoreEncryptionKey": "7I+9GxmIwUu91U0cNm0HDx8dzKt7xDN8BghqITRs/0w=",
        "HttpConfig": {
            "AuthIssuer": "https://auth.lab.jackhumes.com",
            "AuthAudience": "netbird",
            "AuthKeysLocation": "https://auth.lab.jackhumes.com/jwks.json",
            "AuthUserIDClaim": "",
            "CertFile": "",
            "CertKey": "",
            "IdpSignKeyRefreshEnabled": true,
            "OIDCConfigEndpoint": "https://auth.lab.jackhumes.com/.well-known/openid-configuration"
        },
        "IdpManagerConfig": {},
        "DeviceAuthorizationFlow": {},
        "PKCEAuthorizationFlow": {
            "ProviderConfig": {
                "Audience": "netbird",
                "ClientID": "netbird",
                "ClientSecret": "",
                "Domain": "",
                "AuthorizationEndpoint": "https://auth.lab.jackhumes.com/api/oidc/authorization",
                "TokenEndpoint": "https://auth.lab.jackhumes.com/api/oidc/token",
                "Scope": "openid email profile",
                "RedirectURLs": [
                    "http://localhost:53000"
                ],
                "UseIDToken": true
            }
        }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-dashboard-config
  namespace: netbird
data:
  NETBIRD_MGMT_API_ENDPOINT: "https://netbird.lab.jackhumes.com"
  NETBIRD_MGMT_GRPC_API: "https://netbird.lab.jackhumes.com"
  AUTH_AUDIENCE: "netbird"
  AUTH_CLIENT_ID: "netbird"
  AUTH_CLIENT_SECRET: ""
  AUTH_AUTHORITY: "https://auth.lab.jackhumes.com"
  USE_AUTH0: "false"
  AUTH_SUPPORTED_SCOPES: "openid email profile"
  AUTH_REDIRECT_URI: "/peers"
  AUTH_SILENT_REDIRECT_URI: "/add-peers"
  NETBIRD_TOKEN_SOURCE: "idToken"
  NGINX_SSL_PORT: "443"
  LETSENCRYPT_DOMAIN: "none"
