---
apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-management-config
  namespace: netbird
data:
  management.json: |
    {
        "Stuns": [
            {
                "Proto": "udp",
                "URI": "stun:netbird.lab.jackhumes.com:3478"
            }
        ],
        "Signal": {
            "Proto": "https",
            "URI": "netbird.lab.jackhumes.com:443"
        },
        "Datadir": "/var/lib/netbird",
        "DataStoreEncryptionKey": "7I+9GxmIwUu91U0cNm0HDx8dzKt7xDN8BghqITRs/0w=",
        "EmbeddedIdP": {
            "Enabled": true,
            "Issuer": "https://netbird.lab.jackhumes.com/oauth2",
            "DashboardRedirectURIs": [
                "https://netbird.lab.jackhumes.com/nb-auth",
                "https://netbird.lab.jackhumes.com/nb-silent-auth"
            ]
        }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: netbird-dashboard-config
  namespace: netbird
data:
  NETBIRD_MGMT_API_ENDPOINT: "https://netbird.lab.jackhumes.com"
  NETBIRD_MGMT_GRPC_API_ENDPOINT: "https://netbird.lab.jackhumes.com"
  AUTH_AUDIENCE: "netbird-dashboard"
  AUTH_CLIENT_ID: "netbird-dashboard"
  AUTH_CLIENT_SECRET: ""
  AUTH_AUTHORITY: "https://netbird.lab.jackhumes.com/oauth2"
  USE_AUTH0: "false"
  AUTH_SUPPORTED_SCOPES: "openid profile email offline_access"
  AUTH_REDIRECT_URI: "/nb-auth"
  AUTH_SILENT_REDIRECT_URI: "/nb-silent-auth"
  NGINX_SSL_PORT: "443"
  LETSENCRYPT_DOMAIN: "none"
