---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: https://argocd.lab.jackhumes.com
  application.resourceTrackingMethod: annotation
  timeout.reconciliation: 180s
  resource.customizations.ignoreDifferences.PersistentVolumeClaim: |
    jsonPointers:
      - /spec/volumeName
  oidc.config: |
    name: Pocket ID
    issuer: https://auth.jackhumes.com
    clientID: c758dec3-896b-4167-8192-f70f530c7801
    clientSecret: $oidc.pocketid.clientSecret
    requestedScopes:
      - openid
      - profile
      - email
      - groups
    requestedIDTokenClaims:
      groups:
        essential: true
